build
dist

*.egg-info
*.egg-info/
.env

!.env.example

*.files

poetry.lock
demo.py

venv
.venv
.DS_Store

.chainlit
!cypress/e2e/**/*/.chainlit/*
ella/
credentials/
cypress/screenshots
cypress/videos
cypress/downloads

__pycache__

.ipynb_checkpoints

*.db

.mypy_cache

chat_files

.chroma

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.code-workspace
*.bak
tree.txt

chainlit-cookbook
.persist/pgdata/


openapi_assistants.json
openapi_memgpt.json

token.json
credentials.json
gcal_token.json
gmail_token.json
google_api_credentials.json

!package.json
!package-lock.json
